$bg: #fff;
$text: #2e2e2e;
$blue: #2c2fe8;
$darkblue: darken($blue, 10%);

#page-content {
    width: 100vw;
  }
  
  #floating {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  #inner {
    width: 50vw;
  }
  
  body {
    /*background-color: #E7ECEF;*/
    background-color: #3B764A;
  }
  
  p {
    font-family: 'Poppins';
    font-weight: 400;
    /*color: #272932;*/
    color: #FBFFFF;
  }
  
  h2 {
    font-family: 'Poppins';
    font-weight: 800;
    /*color: #272932;*/
    color: #FBFFFF;
  }

  body {
    @media (min-width: 48rem) {
      font-size: 1.25em;
    }
  }

  .link {
    /*position: relative;*/
    transition: clip-path 275ms ease;
    &:hover span::before, &:focus span::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    span {
      /*position: relative;*/
      display: inline-block;
      color: $blue;
      &::before {
        position: absolute;
        content: attr(data-content);
        /*color: $darkblue;*/
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-color: $darkblue;
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        transition: clip-path 275ms ease;
      }
    }
  }