#page-content {
    width: 100vw;
  }
  
  #floating {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  #inner {
    width: 50vw;
  }
  
  body {
    /*background-color: #E7ECEF;*/
    background-color: #3B764A;
  }
  
  p {
    font-family: 'Poppins';
    font-weight: 400;
    /*color: #272932;*/
    color: #FBFFFF;
  }
  
  h2 {
    font-family: 'Poppins';
    font-weight: 800;
    /*color: #272932;*/
    color: #FBFFFF;
  }
  
 a {
    position: relative;
    color: #FBFFFF;
    text-decoration: none;
  }